.sign-up {
  background-color: #000;
  background-image: url('../../assets/sign-up-background.png'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  padding: 80px 0;
}

.form-wrapper div + div {
  padding-top: 20px;
}

.form-box .auth-label {
  padding-bottom: 6px;
}

.info-box {
  padding-top: 140px;
}

.span-text {
  color: #C1C2C5;
}

.button-wrapper {
  margin: 0 auto;
}